@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}


html {
    font-family: 'Urbanist', 'Archivo', sans-serif;
    font-size: 16px;

}

.wrapper-content {
    display:flex;
    flex-direction: column;
}

.wrapper-story {
    display: none;
    color: white;
    background: #604aff;
    padding: 2em;
    border-radius: 10px;
    width: 90%;
}

.wrapper-menu {
    width: 90%;
    height: 50px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wrapper-menu-nav {
    display: none;
}

.wrapper-menu li {
    list-style: none;
    display: inline-block;
}

.wrapper-menu img {
    width: 200px;
    height: auto;
}

.wrapper-slogan {
    font-size: 0.8rem;
    text-align: center;
    padding-top: 1.5em;
}

p, h1 {
    margin: 1rem;
}

.wrapper-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-info-image {
    margin-top: 3em;
    width: 90%;
    height: auto;
    border-radius: 30px;
}

.wrapper-info-text {
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    padding: 2em 2em 2em 2em;
    width: 90%;
}

.wrapper-info-text h4{
    font-size: 1rem;
    margin: 0.5rem 0 0.5rem 0;
}

.wrapper-info-text p{
    font-size: 0.8rem;
    margin: 1rem 0 1rem 0;
}

.wrapper-info a {
    text-decoration: none;
}

.wrapper-info-button {
    color: white;
    background: #122130;
    border-radius: 8px;
    width: 225px;
    height: 2.5rem;
    font-family: 'Archivo', 'Urbanist', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px 5px 15px;
}

.wrapper-info-button-svg {
    background: white;
    width: 15%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-info-button:hover {
    background: #92a7bd;
}

@media screen and (min-width: 480px) {
    .wrapper-slogan {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .wrapper-menu {
        position: sticky;
        justify-content: space-between;
    }

    .wrapper-menu-nav {
        display: inline-block;
        font-size: 0.8em;
    }

    .wrapper-content {
        flex-direction: row;
        align-items: start;
    }

    .wrapper-story {
        margin-top: 2rem;
        display: inline-block;
    }

    .wrapper-slogan {
        width: 60%;
        height: auto;
        display: inline-block;
    }

    .wrapper-info {
        margin-top: 2rem;
        width: 40%;
        height: auto;
        border-radius: 30px;
    }
    
    .wrapper-info-image {
        margin-top: 0;
    }
}